.sr-opacity a{
    &:hover{
        opacity: 0.5;
    }
    &:active{
        opacity: 0.8;
    }
}
.sr-rotate a{
    &:hover{
        @include transform(rotate(15deg));
    }
    &:active{
        @include transform(rotate(0));
    }
}
.sr-zoom a{
    &:hover{
        @include transform(scale(1.1));
        z-index: 9999;
    }
    &:active{
        @include transform(scale(0.9));
    }
}
.sr-shrink a{
    &:hover{
        @include transform(scale(0.9));
    }
    &:active{
        @include transform(scale(0.7));
    }
}
.sr-float a{
    &:hover{
        @include transform(translateY(-5px));
    }
    &:active{
        @include transform(translateY(0));
    }
}
.sr-sink a{
    &:hover{
        @include transform(translateY(5px));
    }
    &:active{
        @include transform(translateY(0));
    }
}
.sr-fade-white a{
    &:hover{
        color: #000;
        background-color: #fff;
    }
    &:active{
        opacity: 0.2;
    }
}
.sr-fade-black a{
    &:hover{
        color: #fff;
        background-color: #000;
    }
    &:active{
        opacity: 0.2;
    }
}