// Gutter
.sr-pad >*{
    margin-right: 0.5em;
}
.sr-multiline >*{
    margin-bottom: 0.5em;
}
.sr-no-icon i{
    display: none;
}

// More menu
.sr-more{
    ul{
        background: #fff;
        padding: 0.5em;
        position: absolute;
        display: none;
        box-shadow: 0 2px 6px -2px;
        z-index: 9999;
        
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            border: 0.25em solid;
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
            top: -0.5em;
            left: 0.5em;
        }
        
        &:after{
            content: '';
            clear: both;
            display: block;
        }
        
        li{
            margin: 0 0 0.5em 0;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    &:hover ul{
        display: block;
    }
}