.sr-circle{
    a{
        border-radius: 50%;
    }
    .sr-text-in a, &.sr-text-in a{
        border-radius: 1em;
    }
}
.sr-squircle{
    a, .sr-text-in a, &.sr-text-in a{
        border-radius: 0.5em;
    }
}
.sr-squircle-2{
    a, .sr-text-in a, &.sr-text-in a{
        border-radius: 0 0.5em 0 0.5em;
    }
}
.sr-diamond{
    a{
        @include transform( rotate( 45deg ) );
        > *{
            @include transform( rotate( -45deg ) );
        }
    }
}
.sr-drop{
    a{
        border-radius: 50% 50% 0 50%;
    }
}
.sr-ribbon{
    a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        border-style: solid;
        border-color: inherit;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-width: 0em 1em 0.5em 1em;
    }
}