// Border width
.sr-bdr-sm.socializer a{
    border: 1px solid;
}
.sr-bdr-md.socializer a{
    border: 2px solid;
}
.sr-bdr-lg.socializer a{
    border: 3px solid;
}
.sr-bdr-none.socializer a{
    border: 0;
}

// Border
.sr-bdr-white.socializer a, .sr-bdr-white.socializer a:visited{
    border-color: #fff;
}
.sr-bdr-dark.socializer a, .sr-bdr-dark.socializer a:visited{
    border-color: #000;
}
.sr-bdr-grey.socializer a, .sr-bdr-grey.socializer a:visited{
    border-color: #ccc;
}

// Background
.sr-bg-white.socializer a, .sr-bg-white.socializer a:visited{
    background-color: #fff;
}
.sr-bg-dark.socializer a, .sr-bg-dark.socializer a:visited{
    background-color: #333;
}
.sr-bg-grey.socializer a, .sr-bg-grey.socializer a:visited{
    background-color: #ccc;
}
.sr-bg-none.socializer a, .sr-bg-none.socializer a:visited{
    background-color: transparent;
}

// Icon
.sr-icon-white.socializer a, .sr-icon-white.socializer a:visited{
    color: #fff;
}
.sr-icon-dark.socializer a, .sr-icon-dark.socializer a:visited{
    color: #333;
}
.sr-icon-grey.socializer a, .sr-icon-grey.socializer a:visited{
    color: #ccc;
}

// Button Shadow
.sr-sw-1.socializer a{
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
}
.sr-sw-2.socializer a{
    box-shadow: inset 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-3.socializer a{
    box-shadow: 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-icon-1.socializer a i{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}