// Border width
.sr-bdr-sm.socializer a{
    border-width: 1px;
}
.sr-bdr-md.socializer a{
    border-width: 2px;
}
.sr-bdr-lg.socializer a{
    border-width: 3px;
}
.sr-bdr-none.socializer a{
    border-width: 0;
}

// Border
.sr-bdr-white.socializer a, .sr-bdr-white.socializer a:visited{
    border-color: #fff;
}
.sr-bdr-dark.socializer a, .sr-bdr-dark.socializer a:visited{
    border-color: #000;
}
.sr-bdr-grey.socializer a, .sr-bdr-grey.socializer a:visited{
    border-color: #ccc;
}

// Background
.sr-bg-white.socializer a, .sr-bg-white.socializer a:visited{
    background-color: #fff;
}
.sr-bg-dark.socializer a, .sr-bg-dark.socializer a:visited{
    background-color: #333;
}
.sr-bg-grey.socializer a, .sr-bg-grey.socializer a:visited{
    background-color: #ccc;
}
.sr-bg-none.socializer a, .sr-bg-none.socializer a:visited{
    background-color: transparent;
}

// Icon
.sr-icon-white.socializer a, .sr-icon-white.socializer a:visited{
    color: #fff;
}
.sr-icon-dark.socializer a, .sr-icon-dark.socializer a:visited{
    color: #333;
}
.sr-icon-grey.socializer a, .sr-icon-grey.socializer a:visited{
    color: #ccc;
}

// Button Shadow
.sr-sw-1.socializer a{
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
}
.sr-sw-2.socializer a{
    box-shadow: inset 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-3.socializer a{
    box-shadow: 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-icon-1.socializer a i{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}

// Counters
.sr-count-1 span.ctext{
    background: #FF5722;
    position: absolute;
    top: -0.6em;
    right: -0.6em;
    border-radius: 1em;
    font-size: 0.6em;
    line-height: 1;
    padding: 0.3em 0.5em;
    z-index: 99;
    color: #fff;
    box-shadow: 0 1px 3px -1px #000;
}
.sr-count-2 span.ctext{
    font-size: 0.8em;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    line-height: 0.8em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}
.sr-count-3 span.ctext{
    font-size: 0.8em;
    margin: 0;
    font-weight: bold;
    line-height: 0.8em;
    border-left: 1px solid;
    padding: 0 0 0 0.8em;
}

// Counters in vertical mode

.sr-vertical.sr-count-2{
    a{
        height: auto;
    }
    span.ctext{
        display: block;
        font-size: 0.6em;
        border-radius: 0;
        padding: 0.5em;
    }
}
.sr-vertical.sr-count-3{
    a{
        height: auto;
    }
    span.ctext{
        display: block;
        font-size: 0.6em;
        border-radius: 0;
        border-top: 1px solid;
        padding: 0.5em;
        border-left: 0;
    }
}

// Counters with bubble styles
.sr-bb-1{
    .sr-text-in{
        margin-right: 3.5em;
    }
    a{
        position: relative;
        overflow: visible;
    }
    span.ctext{
        font-size: 0.8em;
        font-weight: bold;
        background: #fff;
        border-radius: 3px;
        color: #333;
        position: absolute;
        width: 3em;
        top: 0;
        bottom: 0;
        padding: 0;
        right: -3.5em;
        border: 1px solid #dfdfdf;
    }
}

// Counters with bubble style in vertical mode
.sr-vertical.sr-bb-1{
    span.ctext{
        display: block;
        position: static;
        width: 100%;
        margin: 0;
        font-size: 0.7em;
        line-height: 1;
        padding: 0.3em 0;
        margin-top: -0.3em;
    }
}