// Border width
.sr-bdr-sm a{
    border: 1px solid;
}
.sr-bdr-md a{
    border: 2px solid;
}
.sr-bdr-lg a{
    border: 3px solid;
}
.sr-bdr-none a{
    border: 0;
}

// Border
.sr-bdr-white a{
    border-color: #fff;
}
.sr-bdr-dark a{
    border-color: #000;
}
.sr-bdr-grey a{
    border-color: #ccc;
}

// Background
.sr-bg-white a{
    background-color: #fff;
}
.sr-bg-dark a{
    background-color: #333;
}
.sr-bg-grey a{
    background-color: #ccc;
}
.sr-bg-none a{
    background-color: transparent;
}

// Icon
.sr-icon-white a, .sr-icon-white a:link, .sr-icon-white a:visited{
    color: #fff;
}
.sr-icon-dark a, .sr-icon-dark a:link, .sr-icon-dark a:visited{
    color: #333;
}
.sr-icon-grey a, .sr-icon-grey a:link, .sr-icon-grey a:visited{
    color: #ccc;
}

// Button Shadow
.sr-sw-1 a{
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
}
.sr-sw-2 a{
    box-shadow: inset 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-3 a{
    box-shadow: 0 -0.1em 0.1em rgba(0,0,0,0.3);
}
.sr-sw-icon-1 a i{
    text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}