.sr-text-in a{
    width: auto;
    padding: 0 1em;
    overflow: hidden;
    &>*{
      padding-right: 0.5em;
      &:last-child{
        padding-right: 0;
      }
    }
}
.sr-text-out{
    a{
        vertical-align: middle;
    }
    .text{
        font-size: 12px;
        margin-left: 0.5em;
        vertical-align: middle;
    }
}
.sr-text-below{
    text-align: center;
    
    .text{
        display: block;
        font-size: 12px;
        margin-top: 0.5em;
    }
}
.sr-text-hover{
    .text{
        display: none;
        position: absolute;
        background: #000;
        color: #fff;
        font-size: 12px;
        width: 100px;
        top: -3em;
        border-radius: 5px;
        text-align: center;
        line-height: 2em;
        margin-left: -25%;
        z-index: 9999;
        
        &:before{
            position: absolute;
            content: '';
            border: 0.5em solid #F00;
            bottom: -1em;
            left: 1em;
            width: 0;
            height: 0;
            border-color: #000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
    }
    &:hover > .text{
        display: block;
    }
}