.sr-fluid{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    
    >*{
        float: none;
        width: 100%;
    }
    a{
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0 0.5em;
    }
    &.sr-pad{
        border-spacing: 0.25em;
    }
    & .sr-text-in a, &.sr-text-in a{
        &>*{
            margin-right: 0.5em;
        }
        &>*:last-child{
            margin-right: 0;
        }
        &:last-child{
            margin: 0;
        }
    }
    &.sr-squircle a{
        border-radius: 0.5em;
    }
    &.sr-squircle-2 a{
        border-radius: 0 0.5em 0 0.5em;
    }
    .sr-more li{
        display: block;
        width: 100%;
    }
}

.sr-vertical{
    width: 16px;
    flex-direction: column;
    
    @each $size in $size-list{
        &.sr-#{$size}{
            width: $size;
            >*{
                width: $size;
            }
        }
    }
    
    &.sr-pad >*{
        margin: 0 0 0.5em 0;
    }
    
    a{
        flex-direction: column;
    }

    .sr-text-in {
        line-height: 1;
        
        a{
            padding: 0;
            width: inherit;
            &>*{
                padding: 0;
            }
        }
    }
    
    .sr-text-in .text{ // Hack to hide text in vertical mode
        display: none;
    }
}