body{
    background-color: #F9F9F9;
}
.app_wrap{
    width:750px;
    margin: 0 auto;
}
.app_left{
    float: left;
    width: 45%;
    box-sizing: border-box;
    min-height: 450px;
    position: relative;
    background: #fff;
    box-shadow: 0 3px 6px -4px;
    padding: 10px;
}

.scr_sites_sel li {
    list-style: none;
    margin: 0 0 10px 0;
    width: 100%;
    background: #F5F5F5;
    cursor: ns-resize;
    box-shadow: 0 2px 3px -3px;
    border-radius: 3px;
}

.scr_sites_sel {
    margin: 0;
    padding: 10px;
    overflow: auto;
    position: absolute;
    top: 45px;
    bottom: 55px;
    left: 10px;
    right: 10px;
}

.clearfix:after{
    content: '';
    display: block;
    clear:both;
}

.scr_sites_sel li > * {
    padding: 8px 10px;
    display: inline-block;
}


.scr_add_site_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 5px;
    background: #00CA52;
}

.scr_add_site_wrap > * {
    box-sizing: border-box;
}

.app_section {
    margin: 0 0 20px 0;
}

.app_right {
    float: left;
    width: 55%;
    box-sizing: border-box;
    padding-left: 15px;
}

.app_row:after {content: '';display: block;clear: both;}

.app_row > span{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}

.app_row:after {content: '';display: block;clear: both;}

.app_wrap select {
    padding: 5px;
    border: 0;
    border-left: 1px solid #dfdfdf;
    background: transparent;
}

.sortable-ghost{
    color: #fff;
    background: #333 !important;
    outline: 1px dashed #000;
}

.scr_sites_sel .site_action {
    float: right;
    cursor: pointer;
    opacity: 0.5;
}

.scr_sites {
    width: 75%;
}

.scr_add_site {
    width: 25%;
    padding: 5px;
}

.scr_sites_sel .site_action:hover {
    opacity: 1;
}

.scr_sites_sel .site_settings_wrap {
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    padding: 10px;
    display: none;
}

.site_settings_wrap input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.acc_section h4, .app_left h4, .app_box h4 {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    background: #E91E63;
    color: #fff;
}

.app_row {
    padding: 10px 15px;
}

.acc_section{
    margin: 0 0 10px 0;background: #fff;box-shadow: 0 3px 6px -4px;
}

.app_box {
    margin: 0 0 20px 0;
    background: #fff;
    box-shadow: 0 3px 6px -4px;
    padding: 15px;
    position: relative;
}
.app_box h4{margin: -15px -15px 15px -15px;background: #FFFFFF;color: #000;}

.scr_sites {
    color: #fff;
    font-size: 18px;
    border: 0px !important;
}

.scr_sites option {
    color: #000;
}

.app_left h4 {
    margin: -10px -10px 10px -10px;
    background: #00CA52;
}

.scr_sites_sel::-webkit-scrollbar-track{
	background-color: #FFFFFF;
}

.scr_sites_sel::-webkit-scrollbar{
	width: 5px;
}

.scr_sites_sel::-webkit-scrollbar-thumb{
	background-color: #E2D8D8;
}

.app_preview {
    padding: 10px 0;
}

select.code_type {
    background: #000 !important;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 5px;
    padding: 10px;
    border: 0;
}

.app_wrap pre {
    overflow: auto;
}

.page_details span {
    padding: 15px 0;
    display: inline-block;
}

.code_box h5 {
    margin: 20px 0;
}

.code_box h5:before {
    content: attr(data-step);
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px 0 0;
    border-radius: 50%;
    background: #00BCD4;
    color: #fff;
}

.preview_sharebox {
    position: absolute;
    top: 0;
    right): 0;
    right: 0;
    background: #3F51B5;
    border-radius: 0 0 0 5px;
    padding: 10px;
    color: #fff;
    z-index: 999;
    -webkit-transition: all 2s;
}

.share_box {
    display: none;
}

.share_box_head {
    display: inline-block;
}

.preview_sharebox:hover{
    box-shadow: 0 3px 6px -4px #000;
    background: #fff;
    color: #000;
    -webkit-transition: all 1s;
}
.preview_sharebox:hover .share_box {
    display: block;
}
.preview_sharebox:hover .share_box_head {
    margin: 0 0 10px 0;
}

.app_wrap input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #90A4AE;
    box-shadow: 0 2px 6px -4px #000;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  display: none;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.preview_loading .spinner {
    display: block;
}